<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>실습(5) API-POST(form)</title>
</head>
<body>
<h3 th:text="'이름 : ' + ${name}"></h3>
<h3 th:text="'성별 : ' + ${gender}"></h3>
<h3 th:text="'생년월일 : ' + ${birth}"></h3>
<h3 th:text="'관심사 : ' + ${favorite}"></h3>
</body>
</html>